################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSTS.WinServices/v14/.suo
/.vs/config
*.vsix
